<div id="<%= dom_id agent %>">
  <p>
    <strong>Name:</strong>
    <%= agent.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= agent.email %>
  </p>

  <p>
    <strong>Agent reference:</strong>
    <%= agent.agent_reference %>
  </p>

  <p>
    <strong>Limit:</strong>
    <%= agent.limit %>
  </p>

</div>
