<div id="<%= dom_id queue_chat %>">
  <p>
    <strong>Room:</strong>
    <%= queue_chat.room_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= queue_chat.status %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= queue_chat.source %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= queue_chat.name %>
  </p>

</div>
